{# src/Codopenex/ClinicianBaseBundle/Resouces/views/medical_facilities.html.twig #}
{% extends 'XperedonBlogBundle::layout.html.twig' %}

{% block title %}Medical Facilities{% endblock %}

{% block js %}
<script>
$(document).ready(function() {

    $('#clinicians tr').click(function() {
        var href = $(this).find("a").attr("href");
        if(href) {
            window.location = href;
        }
    });

});
</script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/codopenexclinicianbase/css/clinician.css') }}" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ asset('vendor/bundles/WhiteOctober/PagerfantaBundle/Resources/public/css/pagerfantaDefault.css') }}" type="text/css" media="all" />
{% endblock %}

{% block body %}
<div class="pagerfanta">{{ pagerfanta(medical_facilities, 'default') }}</div>

<div class="table-surround">
	<table id="clinicians" class="clinicians" cellpadding="10" cellspacing="10">
	<tr>
		<th>Name</th><th>Phone</th><th>Email</th><th>Address 1</th>
	</tr>
	{% for medical_facility in medical_facilities %}
    	<tr><td><a href="http://www.google.co.uk/">{{ medical_facility.name }}</a></td><td><a href="">{{ medical_facility.phone }}</a></td><td><a href="">{{ medical_facility.email }}</a></td><td><a href="">{{ medical_facility.address1 }}</a></td></tr>
    {% endfor %}
    </table>
</div>
{% endblock %}